html{
    --color-error : rgba(255, 0, 0, 0.137) ;
    
    background-color: #f3f3f3;
    
}

#div_input{
    position: relative;
}

div>.scroll{
    position: relative;
}

#error{
    display: none;
    position: absolute;
    left: -5px;
    top: 35px;
    color: rgb(185, 0, 0) ;
    padding: 5px;
    border-radius: 10px;
    margin: 0;
    font-size: 13px;
}

.input{
    height: 30px;
    width: 296px;
    border: 1px solid rgb(100, 100, 100);
    padding: 5px;
}

.input:hover{
    border: 1px solid rgb(131, 131, 255);
    height: 30px;
}

button:hover{
    box-shadow: 0 0 5px  rgb(191, 191, 191);
    scale: 1.03;
    opacity: 0.8;
    
}

button:active{
    box-shadow: 0 0 5px  rgb(153, 153, 153);
    scale: 0.95;
}

button{
    cursor: pointer;
}



.img_product{
    max-width: 180px;
    max-height: 160px;
    transition: 0.5s;
}

.figure{
    transition: 0.5s;
    width: 200px; 
    height: 180px; 
    display:flex; 
    align-items:center; 
    justify-content:center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.img_product:hover{
    scale: 1.15;
}

a{
    cursor: pointer;
}

.a_button:hover{
    box-shadow: 0 0 5px rgb(76, 235, 208);
    scale: 1.1;
    transition: 0.1s;
}

.a_editar:hover{
    box-shadow: 0 0 5px rgb(174, 174, 174);
    scale: 1.1;
    transition: 0.1s;
    opacity: 0.8;
}

.card_product{
    position: relative;
    width:200px; 
    padding: 20px;
    background-color:white;
    
}

.card_product:hover{
    top:-8px;
    box-shadow: 0 8px 8px 5px rgb(194, 194, 194);
    border: 1px rgb(225, 225, 225) solid;
}

.bx-cart{
    font-size: 30px;
    color: white;
}

.form_search{
    position: relative;
    top: -80px;
    margin: 0;
}

.card_factura{
    transition: 1s;
}

.card_factura:hover{
    scale: 1.2;
}

.title{
    position: relative;
    top: -100px;
}

#modal_crearProducto,
#modal_editarProducto,
#modal_crearCliente,
#modal_editarCliente{
    position:fixed;
}