html{
    --color-error : rgba(255, 0, 0, 0.137) ;
    
    background-color: #f3f3f3;
    
}

.card_product{
    transition: 0.33s;
}

.card_product:hover{
    margin:-8px;
    box-shadow: 0 0 8px #a5ffff;
}

.img_product{
    transition: 0.33s;
}

.img_product:hover{
    scale: 1.15 ;
}




#div_input{
    position: relative;
}

div>.scroll{
    position: relative;
}

#error{
    display: none;
    position: absolute;
    left: -5px;
    top: 35px;
    color: rgb(185, 0, 0) ;
    padding: 5px;
    border-radius: 10px;
    margin: 0;
    font-size: 13px;
}

.input{
    height: 30px;
    width: 296px;
    border: 1px solid rgb(100, 100, 100);
    padding: 5px;
}

.input:hover{
    border: 1px solid rgb(131, 131, 255);
    height: 30px;
}

.bx-cart{
    font-size: 30px;
    color: white;
}

.form_search{
    position: relative;
    top: -80px;
    margin: 0;
}

.card_factura{
    transition: 1s;
}

.card_factura:hover{
    scale: 1.2;
}

.title{
    position: relative;
    top: -100px;
}

#modal_crearProducto,
#modal_editarProducto,
#modal_crearCliente,
#modal_editarCliente{
    position:fixed;
}

.modal_eliminar_producto,
.modal_eliminar_cliente{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffffe5;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_modal_eliminar{
    width: 250px;
    padding: 0 20px 20px 20px; 
    background-color: #ffffff;
    text-align: center;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
}

.btn_style{
    transition: 0.2s;
    cursor: pointer;
}
.btn_style:hover{
    scale:1.05;
    opacity: 0.8;
}